<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <servlet>
    <servlet-name>SandeepServletName</servlet-name>
    <servlet-class>com.test.SandeepServlet</servlet-class>
    <init-param>
      <param-name>emailToken</param-name>
      <param-value>rsbalhara11@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SandeepServletName</servlet-name>
    <url-pattern>/SandeepServletDEMO</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.test.UserServlet</servlet-class>
    <init-param>
      <param-name>emailToken</param-name>
      <param-value>therakesh@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>dbName</param-name>
  	<param-value>EmployeeDB34</param-value>
  </context-param>
</web-app>